<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head> 
		<style>
		body {background-color:  rgb(240, 240, 240); color:black}
		</style>
	</head>
		<body>
			<div layout:fragment="content">
			Welcome to the orders managmeent site.
			<br>
			<br>On this site you will be able to manage the orders stored in your website's database.
			<br>
			<br>Home - to return to the home screen.
			<br>All - to view all orders currently stored in the database.
			<br>Search - to search for an order among the orders in the database.
			<br>Add - to add an order to the database.
			<br>Admin - to edit orders or delete them from the database.
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			</div>
		</body>
</html>